body{
    background: green;
}

#card{
    width: 350px;
    height: 500px;
    background: white;
    margin: 0 auto;
    border-radius: 7px;
    text-align: center;
    font-size: 150px;
    margin-bottom: -100px;
}